$pc: toEm(1200);
$tablet: toEm(992);
$mobile: toEm(768);
$smallMobile: toEm(480);
$mainColor: #37393f;
$secondaryColor: #fff;
$textDarkColor: #7d7d7d;
$textLightColor: #b9b9b9;
$textSecondaryColor: #208068;
$mainBgColor: #40ddb6;
$secondaryBgColor: #6b77e5;
$cardsBgColor: #f4f4f4;
$secondaryCardsBgColor: #c4c4c4;
