/* Підключення шрифтів */

@import url("fonts.css");

/* Скидання стилів */

@import url("reset.css");

body {
  font-family: "Inter", sans-serif;
  font-size: 18px; /* за замовчуванням 16px, не пишемо */
  color: #7d7d7d; /* За замовченням #000000 */
  background-color: #f4f4f4;
}

header {
  margin: 0 auto 30px;
}

main {
  margin-bottom: 30px;
}

.header {
  font-family: "Cormorant Infant", serif;
  text-align: center;
  font-weight: 700;
  padding: 20px 0;
  color: rgb(98, 8, 84);
  font-size: 50px;
  background: linear-gradient(
    90deg,
    rgba(119, 193, 232, 1) 0%,
    rgba(29, 253, 247, 1) 50%,
    rgba(119, 193, 232, 1) 100%
  );
}

.header-main-title {
  font-size: 50px;
  margin-bottom: 20px;
  color: rgba(51, 3, 32, 0.49);
  text-shadow: 5px 5px 5px #c86dcd, 5px 5px 5px #6be59a;
}

.header ul li {
  display: inline-block;
  padding: 10px;
  font-size: 35px;
}

.header-list li:not(:last-child) {
  margin-right: 10px;
}

.header-list li:hover {
  text-decoration: underline;
}

.header-list li:active {
  color: #ad6060;
}

/* Consulting */

.block-consulting {
  padding: 15px;
  max-width: 722px;
  margin: 0 auto 30px;
  background-color: #ffffff;
}

.block-consulting h2 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #37393f;
  line-height: 1.27;
  text-transform: capitalize;
  margin-bottom: 12px;
}

.sub-title-proactively,
.sub-title-incubate {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.27;
}

.sub-title-proactively {
  color: #6b77e5;
  margin-bottom: 12px;
}

.sub-title-incubate {
  color: #40ddb6;
  margin-bottom: 21px;
}

.block-consulting .text {
  line-height: 1.46;
  margin-bottom: 42px;
}

.block-consulting .text:last-child {
  margin-bottom: 0px;
}

.block-consulting .text p:not(:last-child) {
  margin-bottom: 15px;
}

.sub-title-proactively + .text {
  margin-bottom: 40px;
}

.benefits {
  font-size: 0;
  margin-bottom: 50px;
}

.benefits-image {
  display: inline-block;
  vertical-align: middle;
  margin-right: 29px;
  max-width: 331px;
  width: 100%;
}

.benefits-image img {
  width: 100%;
  min-height: 262px;
}

.benefits-content {
  display: inline-block;
  vertical-align: middle;
  width: 332px;
  font-size: 18px;
}

.benefits-title {
  font-family: "Poppins", sans-serif;
  color: #37393f;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.27;
  margin-bottom: 15px;
}

.benefits .list li {
  line-height: normal;
  min-height: 27px;
}

.benefits .list li:not(:last-child) {
  margin-bottom: 30px;
}

.benefits .list li::before {
  display: inline-block;
  content: "";
  background: url("../img/circle.svg") no-repeat;
  vertical-align: -7px;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  margin-right: 8px;
  transition: all 0.3s;
}

.benefits .list li:hover::before {
  transform: scale(1.2);
}

/* Business */

.block-business {
  padding: 15px;
  max-width: 705px;
  margin: 0 auto 30px;
  background-color: #ffffff;
}

.block-business h5 {
  color: #37393f;
  font-weight: 500;
  line-height: 1.2;
  text-transform: capitalize;
  margin-bottom: 16px;
}

.block-business h5::before {
  display: inline-block;
  content: "";
  width: 12px;
  height: 12px;
  background-color: #40ddb6;
  vertical-align: 1px;
  margin-right: 6px;
}

.block-business h2 {
  font-family: "Poppins", sans-serif;
  color: #37393f;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.21;
  max-width: 414px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.block-business .text p {
  line-height: 1.46;
  font-size: 18px;
}

.block-business .text p:not(:last-child) {
  margin-bottom: 16px;
}

.block-business > .text,
.block-business ul {
  margin-bottom: 48px;
}

.block-business ul li {
  padding: 28px 40px 28px 38px;
  border: 1px solid #e3e3e3;
}

.block-business ul li > .text {
  padding-left: 46px;
}

/* .block-business ul li > div {
  font-size: 0;
}

.block-business ul li h4 + div {
  padding-left: 48px;
} */

.block-business ul li:not(:last-child) {
  margin-bottom: 31px;
}

.block-business ul li h4 {
  font-family: "Poppins", sans-serif;
  color: #37393f;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 12px;
  /* display: inline-block; */
}

.block-business ul li h4::before {
  display: inline-block;
  content: "";
  width: 27px;
  height: 27px;
  background: url("../img/circle.svg") 0 0 no-repeat;
  border-radius: 50%;
  margin-right: 19px;
  vertical-align: top;
  transition: all 0.3s;
}

.block-business ul li h4:hover::before {
  transform: scale(1.2);
}

.block-business-button {
  display: inline-block;
  color: #fff;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  background: #6b77e5;
  padding: 21px 35px 22px 35px;
  min-width: 200px;
  transition: all 0.3s;
}

.block-business-button:hover {
  box-shadow: 5px 5px 5px rgba(92, 124, 220, 0.479);
}

/* How We Work */

.block-how-we-work {
  padding: 15px;
  max-width: 1250px;
  margin: 0 auto 30px;
  background-color: #ffffff;
}

.block-how-we-work h5 {
  color: #37393f;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 16px;
}

.block-how-we-work h5::before {
  display: inline-block;
  content: "";
  width: 12px;
  height: 12px;
  background-color: #40ddb6;
  vertical-align: 1px;
  margin-right: 6px;
}

.block-how-we-work h2 {
  font-family: "Poppins", sans-serif;
  color: #37393f;
  text-align: center;
  text-transform: capitalize;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.21;
  margin-bottom: 41px;
}

.block-how-we-work ul {
  font-size: 0;
}

.block-how-we-work ul li {
  max-width: 386px;
  display: inline-block;
  text-align: center;
}

.block-how-we-work ul li:not(:last-child) {
  margin-right: 31px;
}

.block-how-we-work .icon {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  margin-bottom: -36px;
  display: inline-block;
}

.block-how-we-work .icon-first,
.block-how-we-work .icon-third {
  background-color: #40ddb6;
}

.block-how-we-work .icon-second {
  background-color: #6b77e5;
}

.block-how-we-work .icon img {
  width: 100%;
}

.block-how-we-work .content {
  padding: 58px 43px;
  background: #f4f4f4;
}

.block-how-we-work ul li h4 {
  font-family: "Poppins", sans-serif;
  color: #37393f;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.27;
  margin-bottom: 16px;
}

.block-how-we-work .text {
  line-height: 1.46;
  font-size: 18px;
  margin-bottom: 37px;
}

.block-how-we-work .how-we-work-link {
  display: inline-block;
  color: #6b77e5;
  font-weight: 600;
  font-size: 18px;
  line-height: normal;
  text-transform: capitalize;
}

.block-how-we-work .how-we-work-link:hover {
  color: #2a38b6;
  text-decoration: underline;
}

/* Jewels */

.block-jewels {
  padding: 15px;
  max-width: 1244px;
  margin: 0 auto 30px;
  background-color: #ffffff;
  font-size: 0;
}

.block-jewels .title {
  padding-top: 150px;
  /* padding-bottom: 373px; */
  max-width: 481px;
  display: inline-block;
}

.block-jewels .title h2 {
  font-family: "Cormorant Infant", serif;
  color: #000;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.15;
}

.block-jewels .title h2::after {
  display: block;
  content: "";
  width: 62%;
  height: 3px;
  background: #78473b;
  margin-top: 10px;
  transition: all 0.3s;
}

.block-jewels .title h2:hover::after {
  width: 90%;
}

.block-jewels .image-cards {
  font-size: 0;
  display: inline-block;
  vertical-align: top;
}

.block-jewels .image-cards-first,
.block-jewels .image-cards-second {
  display: inline-block;
  max-width: 334px;
}

.block-jewels .image-cards-first {
  padding-top: 32px;
  padding-bottom: 155px;
  margin-right: 55px;
  vertical-align: top;
}

.block-jewels .image-first,
.block-jewels .image-second {
  display: inline-block;
  width: 334px;
  height: 381px;
  border: 1px solid #000;
  margin-bottom: 34px;
}

.block-jewels .image-first img,
.block-jewels .image-second img {
  margin-left: 10px;
  padding-top: 9px;
  transition: all 0.3s;
  width: 100%;
}

.block-jewels .image-first img:hover,
.block-jewels .image-second img:hover {
  margin-left: 0px;
  padding-top: 0px;
}

.block-jewels .image-content {
  font-family: "Cormorant Infant", serif;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
}

.block-jewels .image-content h4 {
  transition: all 0.3s;
}

.block-jewels .image-content h4:hover {
  text-decoration: underline;
  color: #78473b;
}

.block-jewels .image-content *:first-child {
  margin-bottom: 4px;
}

.image-cards-second h3 {
  font-family: "Cormorant Infant", serif;
  color: #000;
  font-size: 46px;
  font-weight: 700;
  line-height: 1.13;
  margin-bottom: 31px;
}

/* Game */

.block-game {
  padding: 15px;
  max-width: 1200px;
  margin: 0 auto 30px;
  background-color: #ffffff;
}

.block-game .wrapper-game {
  max-width: 1000px;
  min-height: 500px;
  margin: 0 auto;
  border: 2px dotted rgb(50, 50, 227);
  padding: 10px;
}

.block-game h2 {
  font-family: "Cormorant Infant", serif;
  font-weight: 700;
  font-size: 50px;
  color: #a11771;
  text-align: center;
  margin-bottom: 20px;
}

.block-game h2:hover {
  color: #8317a1;
  text-shadow: -5px 5px 3px rgb(233, 95, 95);
}

#game > div:not(:first-child) {
  visibility: hidden;
  opacity: 0;
}

#game > div:hover,
#game > div:hover + div {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s;
}

#game .start {
  width: 80px;
  height: 50px;
  background-color: #e5b06b;
  border: 2px solid brown;
  border-radius: 5px;
  line-height: 1.4;
  padding: 8px 12px;
  margin-left: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: rgb(55, 21, 21);
  cursor: pointer;
}

#game .start:hover {
  box-shadow: 1px -2px 3px 3px rgb(219, 168, 231);
}

#game .line-1 {
  width: 40px;
  height: 150px;
  background-color: #4053e2;
  margin-left: 25px;
}

#game .line-2 {
  width: 300px;
  height: 30px;
  background-color: #4053e2;
  margin-left: 25px;
}

#game .line-3 {
  width: 20px;
  height: 150px;
  background-color: #4053e2;
  margin-left: 305px;
}

#game .line-4 {
  width: 150px;
  height: 20px;
  background-color: #4053e2;
  margin-left: 305px;
}

#game .line-5 {
  width: 20px;
  height: 150px;
  background-color: #4053e2;
  margin-top: -155px;
  margin-left: 435px;
}

#game .line-6 {
  width: 200px;
  height: 15px;
  background-color: #4053e2;
  margin-top: -155px;
  margin-left: 435px;
}

#game .finish {
  width: 80px;
  height: 50px;
  background-color: #90e56b;
  border: 2px solid brown;
  border-radius: 5px;
  line-height: 1.4;
  padding: 8px 12px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: rgb(55, 21, 21);
  margin-left: 635px;
  margin-top: -30px;
  cursor: pointer;
}

#game .finish:hover {
  box-shadow: 1px -2px 3px 3px rgb(150, 197, 153);
}

#game .image {
  width: 120px;
  height: 120px;
  margin-left: 630px;
  margin-top: -200px;
}

#game .image img {
  width: 100%;
}

/* Practice */

.block-practice {
  padding: 15px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  text-align: center;
}

.block-practice h2 {
  font-family: "Cormorant Infant", serif;
  font-weight: 700;
  font-size: 50px;
  color: #1745a1;
  margin-bottom: 30px;
}

.block-practice h2:hover {
  color: #8317a1;
  text-decoration: underline;
}

.practice-1,
.practice-2 {
  margin-bottom: 20px;
}

.practice-1 div {
  width: 200px;
  height: 200px;
  background-color: #78473b;
  visibility: hidden;
  display: inline-block;
}

.practice-1-text {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #580653;
}

.practice-1-text:hover + div {
  visibility: visible;
}

.practice-2 h4,
.practice-3 h4 {
  color: rgb(195, 106, 18);
  font-size: 24px;
  margin-bottom: 20px;
}

.practice-2 a {
  display: inline-block;
  color: #9b1455;
  font-size: 20px;
}

.practice-2 .box div {
  display: inline-block;
}

.practice-2 a:hover {
  text-decoration: underline;
}

.practice-2 .link {
  margin-bottom: 20px;
}

.practice-2 .link a:not(:last-child),
.practice-2 .box div:not(:last-child) {
  margin-right: 40px;
}

.box-1,
.box-2,
.box-3 {
  visibility: hidden;
  width: 200px;
  height: 200px;
}

.box-1 img,
.box-2 img,
.box-3 img {
  width: 100%;
}

.box-1:target,
.box-2:target,
.box-3:target {
  visibility: visible;
}

.practice-3 .block {
  max-width: 1000px;
  margin: 0 auto 20px;
  font-size: 0;
}

.practice-3 .block-color {
  display: inline-block;
  height: 200px;
}

.practice-3 .block-color:nth-child(5n + 1) {
  width: 35%;
  background-color: #40ddb6;
}

.practice-3 .block-color:nth-child(5n + 2) {
  width: 45%;
  background-color: #dd8940;
}

.practice-3 .block-color:nth-child(5n + 3) {
  width: 20%;
  background-color: #dd40cd;
}

.practice-3 .block-color:nth-child(5n + 4) {
  width: 42%;
  background-color: #cddd40;
}

.practice-3 .text {
  background-color: #b5e5c8;
  padding: 20px;
  color: #000;
  font-size: 20px;
  text-align: left;
}

.practice-3 .text > span {
  display: block;
}

.practice-3 .text *:not(:last-child) {
  margin-bottom: 20px;
}

.practice-3 .text p span {
  font-size: 24px;
  color: #2a38b6;
}

.practice-3 .text > :first-child {
  background-color: #b8e56b;
}

.practice-3 .text p:first-of-type {
  background-color: #d36be5;
}

.practice-3 .text > :last-child {
  background-color: #e56bb4;
}

.practice-3 .text > :nth-child(8) {
  background-color: #e5816b;
}

.practice-3 .text p:nth-child(odd) {
  background-color: #c62e0c;
}

.practice-3 .text p:last-of-type {
  background-color: #20a911;
}

/* Footer */

.up {
  text-align: center;
  padding-bottom: 20px;
}

.up img {
  width: 60px;
}
