/* Підключення шрифтів */

@import url("fonts.css");

/* Скидання стилів */

@import url("reset.css");

body {
  font-family: "Cormorant Infant", serif;
  font-size: 30px; /* за замовчуванням 16px, не пишемо */
  background: linear-gradient(
      45deg,
      rgba(34, 64, 195, 1) 3%,
      rgba(245, 166, 146, 1) 35%,
      rgba(190, 128, 181, 0.8464635854341737) 70%
    )
    center / contain fixed;
  font-weight: 500;
}

.header {
  padding: 20px 0;
  background: linear-gradient(
    90deg,
    rgba(119, 193, 232, 1) 0%,
    rgba(29, 253, 247, 1) 50%,
    rgba(119, 193, 232, 1) 100%
  );
  margin: 0 auto 30px;
  border-bottom: 2px solid blueviolet;
}

.header-title {
  font-family: "Cormorant Infant", serif;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  color: rgb(98, 8, 84);
  text-shadow: 5px 5px 5px #c86dcd, 5px 5px 5px #6be59a;
}

main {
  padding: 15px;
  max-width: 1280px;
  margin: 0 auto 30px;
}

main > :not(:last-child) {
  margin-bottom: 30px;
}

.icon,
.icon-2,
.pictures {
  text-align: center;
  border: 1px solid rgb(25, 25, 121);
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px;
}

.icon {
  max-width: 400px;
  font-size: 0;
}

.icon-2 {
  max-width: 900px;
  font-size: 0;
}

.icon > img:not(:last-child),
.icon-2 > img:not(:last-child) {
  margin-right: 10px;
}

.pictures {
  max-width: 1100px;
  margin: 0 auto;
}

.pictures div {
  text-align: center;
}

.icon p,
.icon-2 p,
.pictures p {
  margin-bottom: 20px;
  font-size: 30px;
}

.pictures img {
  max-width: 100%;
}

.pictures div > img:not(:last-child) {
  margin-bottom: 30px;
}

/* Footer */

.up {
  text-align: center;
  padding-bottom: 20px;
}

.up img {
  width: 60px;
}
