@use "sass:math";
// Підключення шрифтів
@import "_fonts.scss";

// Обнулення
@import "_reset.scss";

//Функції
@import "_function.scss";

//Міксини
@import "_mixin.scss";

// Змінні
$pc: 1200px;
$tablet: 992px;
$mobile: 768px;
$smallMobile: 480px;
$mainColor: rgb(255, 255, 255);
$secondaryColor: rgb(246, 246, 246);
$textColor: rgb(60, 66, 66);
$textLightColor: rgb(128, 125, 126);
$backgroundColorButton: rgb(138, 51, 253);

body {
  font-family: "Causten", sans-serif;
  color: $mainColor;
  .menu-open & {
    overflow: hidden;
  }
}

.wrapper {
  overflow: clip;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  main {
    flex-grow: 1;
  }
}

[class*="__container"] {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

// Компонент
.title {
  font-family: "Coresansc", sans-serif;
  color: $textColor;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.02em;
  display: flex;
  align-items: flex-start;
  text-transform: capitalize;
  column-gap: 12px;
  @media (min-width: $smallMobile) {
    column-gap: 16px;
    font-size: 28px;
  }
  @media (min-width: $tablet) {
    column-gap: 20px;
    font-size: 34px;
  }
  &::before {
    content: "";
    flex: 0 0 6px;
    width: 6px;
    height: 20px;
    border-radius: 10px;
    background: $backgroundColorButton;
    margin-top: 2px;
    @media (min-width: $smallMobile) {
      height: 24px;
    }
    @media (min-width: $tablet) {
      height: 30px;
    }
  }
  &.title--margin:not(:last-child) {
    margin-bottom: 20px;
    @media (min-width: $smallMobile) {
      margin-bottom: 40px;
    }
    @media (min-width: $tablet) {
      margin-bottom: 70px;
    }
  }
}

// --------------------Header--------------------

.header {
  border-bottom: 1px solid rgb(190, 188, 189);
  background-color: $mainColor;
  // .header--fixed
  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
  }
  // .header__container
  &__container {
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    @media (min-width: $smallMobile) {
      gap: 18px;
    }
    @media (min-width: $tablet) {
      min-height: 108px;
    }
  }
  // .header__logo
  // Взагалі на головній сторінці краще лого огортати у div
  // а на інших - у посилання
  &__logo {
    flex: 0 0 91px;
    width: 91px;
    aspect-ratio: 91/45;
    position: relative;
    z-index: 2;
    img {
      @include img($oFit: contain);
    }
  }
}

.actions-header {
  display: flex;
  flex-shrink: 0;
  column-gap: 8px;
  position: relative;
  z-index: 2;
  @media (min-width: $smallMobile) {
    column-gap: 12px;
  }
  // .actions-header__item
  &__item {
    flex: 0 0 38px;
    width: 38px;
    height: 38px;
    border-radius: 8px;
    background: $secondaryColor;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.3s linear;
    @media (min-width: $smallMobile) {
      flex: 0 0 44px;
      width: 44px;
      height: 44px;
    }
    img {
      @include img(20px, 20px, null, null);
    }
    @media (any-hover: hover) {
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
    }
  }
}

.icon-menu {
  flex: 0 0 38px;
  width: 38px;
  height: 38px;
  border-radius: 8px;
  background: $secondaryColor;
  position: relative;
  z-index: 2;
  @media (min-width: $smallMobile) {
    flex: 0 0 44px;
    width: 44px;
    height: 44px;
  }
  @media (min-width: $tablet) {
    display: none;
  }

  &::before,
  &::after,
  & span {
    content: "";
    position: absolute;
    left: 8px;
    width: 60%;
    height: 2px;
    background-color: $textLightColor;
    transition: all 0.3s;
  }

  & span {
    top: 50%;
    margin-top: -1px;
    .menu-open & {
      transform: scale(0);
    }
  }

  &::before {
    top: 12px;
    .menu-open & {
      transform: rotate(-45deg);
      top: 50%;
      margin-top: -1px;
    }
  }
  &::after {
    bottom: 12px;
    .menu-open & {
      transform: rotate(45deg);
      bottom: 50%;
      margin-bottom: -1px;
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: $mainColor;
  padding: 130px 20px 30px 20px;
  overflow: auto;
  transition: left 0.3s;
  .menu-open & {
    left: 0;
  }
  @media (min-width: $tablet) {
    position: relative;
    padding: 0;
    width: auto;
    height: auto;
    left: auto;
    top: 0;
  }

  //Запобіжник
  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 70px;
    z-index: 5;
    background-color: $mainColor;
    .menu-open & {
      left: 0;
    }
    @media (min-width: $tablet) {
      display: none;
    }
  }

  // .menu__list
  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 20px;

    @media (min-width: $tablet) {
      flex-direction: row;
      align-items: stretch;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 30px;
      row-gap: 10px;
    }
    @media (min-width: 1040px) {
      column-gap: 40px;
    }
  }
  // .menu__item
  &__item {
    @media (any-hover: hover) {
      &:hover .menu__link {
        color: $textColor;
      }
    }
    //menu__item--active
    &--active .menu__link {
      color: $textColor;
      font-weight: 700;
    }
  }
  // .menu__link
  &__link {
    display: inline-block;
    color: $textLightColor;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.18;
    transition: color 0.3s ease;
    @media (min-width: $tablet) {
      font-size: 22px;
      padding: 5px 0px;
    }
  }
}

.form-search {
  position: fixed;
  left: -100%;
  top: 70px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  transition: left 0.3s;
  .menu-open & {
    left: 0;
  }
  @media (min-width: 550px) {
    position: relative;
    flex: 1 1 200px;
    max-width: 267px;
    padding-left: 0;
    padding-right: 0;
    top: 0;
    left: auto;
  }

  @media (min-width: 1100px) {
    flex: 0 1 267px;
  }

  // .form-search__input
  &__input {
    width: 100%;
    height: 44px;
    border-radius: 8px;
    background: $secondaryColor;
    padding: 12px 20px 12px 52px;
    line-height: 1.19;
    &:focus {
      outline: 1px solid $backgroundColorButton;
    }
    &::placeholder {
      color: $textLightColor;
    }
    &:focus ~ .form-search__button {
      background-color: rgb(0 153 225/50%);
      border-radius: 3px;
    }
    &:focus ~ .form-search__button img {
      transform: scale(1.2);
    }
  }
  // .form-search__button
  &__button {
    position: absolute;
    left: 8%;
    top: 50%;
    width: 25px;
    height: 25px;
    transform: translateY(-50%);

    img {
      @include img(14px, 14px, cover, null);
      transform: scale(1.0001);
      transition: transform 0.3s;
    }
  }
}

// ---------------------Hero-------------------

.page {
  padding-top: 70px;
  padding-bottom: 50px;
  @media (min-width: $tablet) {
    padding-top: 108px;
    padding-bottom: 100px;
  }
  > *:not(:last-child) {
    margin-bottom: 60px;
    @media (min-width: $mobile) {
      margin-bottom: 80px;
    }
    @media (min-width: $tablet) {
      margin-bottom: 100px;
    }
  }
}
.hero {
  position: relative;
  display: flex;
  align-items: center;
  min-height: calc(100svh - 70px);
  padding-top: 60px;
  padding-bottom: 80px;

  @media (min-width: $tablet) {
    min-height: calc(100svh - 108px);
    // min-height: 100svh;
  }
  // .hero__background
  &__background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(96, 193, 222);
    &::before {
      content: "";
      // display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.25);
      @media (min-width: 590px) {
        display: none;
      }
    }
    img {
      @include img($oPosition: 65% 10%);

      @media (min-width: 590px) {
        object-position: 50% 10%;
      }
      @media (min-width: $mobile) {
        object-position: 35% 10%;
      }
      @media (min-width: $tablet) {
        object-position: left 10%;
      }
    }
  }
  // .hero__container
  &__container {
    flex: 0 0 100%;
    // display: flex;
  }
  // .hero__content
  &__content {
    position: relative;
    z-index: 2;
    max-width: 530px;
    padding-left: 40px;
    font-family: "Coresansc", sans-serif;
    @media (min-width: 590px) {
      padding-left: 60px;
    }
    @media (min-width: $tablet) {
      padding-left: 90px;
    }
    > *:not(:last-child) {
      margin-bottom: 20px;
      @media (min-width: 590px) {
        margin-bottom: 40px;
      }
    }
  }
  // .hero__subtitle
  &__subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.16px;
    text-transform: capitalize;
    @media (min-width: $tablet) {
      font-size: 32px;
    }
  }
  // .hero__title
  &__title {
    font-size: 34px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0.31px;
    @media (min-width: 590px) {
      font-size: 50px;
    }
    @media (min-width: $tablet) {
      font-size: 78px;
    }
  }
  // .hero__label
  &__label {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.47;
    letter-spacing: 0.31px;
    text-align: left;
    @media (min-width: $tablet) {
      font-size: 32px;
    }
  }
  // .hero__link
  &__link {
    display: inline-block;
    font-family: "Causten", sans-serif;
    color: $textColor;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    border-radius: 8px;
    background-color: $mainColor;
    padding: 10px 34px;
    transition: all 0.3s;
    @media (min-width: $mobile) {
      font-size: 22px;
      padding: 12px 40px;
    }
    @media (min-width: $tablet) {
      font-size: 24px;
      padding: 16px 72px;
    }
    @media (any-hover: hover) {
      &:hover {
        color: $mainColor;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: rgb(171, 122, 235);
      }
    }
  }
  // .hero__button-left
  // .hero__button-right
  &__button-left,
  &__button-right {
    position: absolute;
    top: 39%;
    width: 20px;
    height: 32px;
    @media (any-hover: hover) {
      &:hover img {
        transform: scale(1.2);
      }
    }
    @media (min-width: $tablet) {
      width: 24px;
      height: 44px;
    }
    img {
      width: 100%;
      height: 100%;
      transform: scale(1.0001);
      transition: transform 0.3s;
    }
  }
  // .hero__button-left
  &__button-left {
    left: 2.8%;
  }
  // .hero__button-right
  &__button-right {
    right: 2.8%;
  }
}

.carousel-indicators {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3%;
  display: flex;
  column-gap: 1px;
  @media (min-width: 590px) {
    bottom: 7%;
  }

  // .carousel-indicators__button
  &__button {
    width: 43px;
    height: 8px;
    background: $mainColor;
    @media (min-width: $mobile) {
      width: 63px;
      height: 10px;
    }
    // .carousel-indicators__button--left
    &.carousel-indicators__button--left {
      border-radius: 12px 0 0 12px;
    }
    // .carousel-indicators__button--right
    &.carousel-indicators__button--right {
      border-radius: 0 12px 12px 0;
      opacity: 0.5;
    }
  }
}

//-------------------Cards------------------------

.cards {
  // .cards__items
  &__items {
    display: grid;
    gap: 15px;
    grid-template-columns: auto;
    @media (min-width: $mobile) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: $tablet) {
      gap: 30px;
    }
  }
  // .cards__item
  &__item {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    padding: 30px 15px;
    display: flex;
    align-items: center;
    transition: box-shadow 0.3s;
    @media (min-width: $smallMobile) {
      padding: 57px 30px;
    }
    @media (any-hover: hover) {
      &:hover {
        box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.4);
      }
    }
  }
}
.item-card {
  font-weight: 800;
  // .item-card__image
  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* aspect-ratio: 605 / 356; */
    background-color: rgb(242, 183, 95);
    text-align: center;

    // .item-card__image--background
    &.item-card__image--background {
      background-color: rgb(145, 78, 212);
    }
    img {
      @include img;
    }
  }
  // .item-card__body
  &__body {
    position: relative;
    z-index: 2;
    max-width: 180px;
    font-family: "Coresansc", sans-serif;
    @media (min-width: $smallMobile) {
      max-width: 270px;
    }
    &::before {
      content: "";
      position: absolute;
      top: -20%;
      left: -10%;
      width: 120%;
      height: 150%;
      filter: blur(25px);
      z-index: -1;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.2);
      @media (min-width: $tablet) {
        display: none;
      }
    }
    & > *:not(:last-child) {
      margin-bottom: 24px;
    }
  }
  // .item-card__desc
  &__desc {
    font-family: "Montserrat", sans-serif;
    line-height: 1.72;
    letter-spacing: 0.251px;
    font-size: 18px;
    &:not(:last-child) {
      margin-bottom: 15px;
      @media (min-width: $smallMobile) {
        margin-bottom: 24px;
      }
    }
  }
  // .item-card__title
  &__title {
    font-size: 24px;
    line-height: 1.33;
    @media (min-width: $smallMobile) {
      font-size: 28px;
    }
    @media (min-width: $tablet) {
      font-size: 34px;
    }
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  // .item-card__text
  &__text {
    font-weight: 500;
    line-height: 1.57;
    letter-spacing: 0.251px;
    &:not(:last-child) {
      margin-bottom: 25px;
      @media (min-width: $smallMobile) {
        margin-bottom: 42px;
      }
    }
    // .item-card__text--margin
    &.item-card__text--margin {
      &:not(:last-child) {
        margin-bottom: 18px;
        @media (min-width: $smallMobile) {
          margin-bottom: 30px;
        }
      }
    }
  }
  // .item-card__link
  &__link {
    display: inline-block;
    font-size: 20px;
    line-height: 1.51;
    &::after {
      display: block;
      content: "";
      width: 0;
      height: 1px;
      position: relative;
      left: 50%;
      background-color: $mainColor;
      transition: width 0.3s, left 0.3s;
    }
    @media (any-hover: hover) {
      &:hover::after {
        width: 100%;
        left: 0;
      }
    }
  }
}

//---------------- New Arrival-----------------

.new-arrival {
  // .new-arrival__wrapper
  &__wrapper {
    position: relative;
  }
  // .new-arrival__button-left
  &__button-left {
    position: absolute;
    top: 100%;
    width: 18px;
    height: 16px;
    left: 0;
    transform: translate(12px, 2px);
    background: url("../img/new-arrival/arrow-left.svg") center/ cover no-repeat;
    @media (min-width: 580px) {
      top: 50%;
      width: 14px;
      height: 12px;
      transform: translateY(-50%);
    }
  }
  // .new-arrival__button-right
  &__button-right {
    position: absolute;
    top: 100%;
    width: 18px;
    height: 16px;
    right: 0;
    transform: translate(-12px, 2px);
    background: url("../img/new-arrival/arrow-right.svg") center/ cover
      no-repeat;
    @media (min-width: 580px) {
      top: 50%;
      width: 14px;
      height: 12px;
      transform: translateY(-50%);
    }
  }
  // .new-arrival__items
  &__items {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    @media (min-width: 580px) {
      padding-left: 37px;
      padding-right: 34px;
    }
    @media (min-width: $tablet) {
      gap: 39px;
    }
  }

  // .new-arrival__link
  &__link {
    display: block;
    @media (any-hover: hover) {
      &:hover .new-arrival__image img {
        transform: scale(1.05);
      }
      &:hover .new-arrival__subtitle-item {
        text-decoration-color: inherit;
      }
    }
  }
  // .new-arrival__image
  &__image {
    overflow: hidden;
    aspect-ratio: 1 / 1;
    background-color: $secondaryColor;
    border-radius: 12px;
    &:not(:last-child) {
      margin-bottom: 12px;
      @media (min-width: 1098px) {
        margin-bottom: 33px;
      }
    }
    img {
      @include img($oPosition: null);
      //Щоб фото плавно збільшувалось додаємо наступне
      transform: scale(1.0001);
      transition: transform 0.3s;
    }
  }
  // .new-arrival__subtitle-item
  &__subtitle-item {
    color: $textColor;
    font-size: 22px;
    text-align: center;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.2px;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.3s;
    @media (min-width: 811px) {
      font-size: 20px;
    }
    @media (min-width: 1098px) {
      text-align: start;
    }
  }
}

//--------------------Fashion--------------------

.fashion {
  // .fashion__items
  &__items {
    display: flex;
  }
}

.card-left {
  position: relative;
  flex: 1 1 100%;
  overflow: hidden;
  border-radius: 12px;
  padding: 45px 20px 35px 20px;
  text-align: center;
  @media (min-width: 630px) {
    flex: 1 1 49.516%;
    border-radius: 12px 0 0 12px;
    padding: 40px 14px 30px 14px;
    text-align: start;
  }
  @media (min-width: $mobile) {
    padding: 80px 18px 70px 18px;
  }
  @media (min-width: $tablet) {
    padding: 100px 34px 90px 34px;
  }
  @media (min-width: 1100px) {
    padding: 143px 54px 135px 54px;
  }
  @media (min-width: 1250px) {
    padding: 183px 74px 175px 74px;
  }
  // .card-left__image
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // aspect-ratio: 614/640;
    background-color: rgba(0, 0, 0, 0.7);
    img {
      @include img;
    }
  }
  // .card-left__content
  &__content {
    position: relative;
    z-index: 2;
  }
  // .card-left__title
  &__title {
    font-family: "Coresansc", sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 1.47;
    letter-spacing: 0.21px;
    @media (min-width: 737px) {
      font-size: 24px;
    }
    @media (min-width: $tablet) {
      font-size: 28px;
    }
    @media (min-width: $pc) {
      font-size: 34px;
    }
    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }
  // .card-left__text
  &__text {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 1px;
    @media (min-width: $tablet) {
      font-size: 20px;
    }
    &:not(:last-child) {
      margin-bottom: 50px;
    }
    p:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  // .card-left__link
  &__link {
    display: inline-block;
    color: $textColor;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.22;
    text-align: center;
    border-radius: 8px;
    background-color: $mainColor;
    padding: 12px 44px;
    transition: all 0.3s;
    @media (any-hover: hover) {
      &:hover {
        color: $secondaryColor;
        background-color: #82b997;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, #1a9047 0px 0px 0px 2px;
      }
    }
  }
}

.card-right {
  display: none;
  @media (min-width: 630px) {
    display: block;
    position: relative;
    flex: 1 1 50.484%;
    overflow: hidden;
    border-radius: 0 12px 12px 0;
  }
  // .card-right__item
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // aspect-ratio: 626/640;
    background-color: rgba(238, 169, 85, 0.7);
    img {
      @include img;
    }
  }
}

//--------------------Men---------------

.cards-men {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  column-gap: 20px;
  row-gap: 30px;
  @media (min-width: 900px) {
    column-gap: 30px;
  }
  @media (min-width: $pc) {
    column-gap: 50px;
    row-gap: 50px;
  }
  // .cards-men__link
  &__link {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    @media (any-hover: hover) {
      &:hover img {
        transform: scale(1.05);
      }
      &:hover .cards-men__arrow {
        transform: translateX(-7px);
      }
      &:hover .cards-men__title {
        text-decoration-color: inherit;
      }
    }
  }
  // .cards-men__image
  &__image {
    overflow: hidden;
    border-radius: 10px;
    aspect-ratio: 270/393;
    background-color: rgba(0, 0, 0, 0.3);
    img {
      @include img;
      transform: scale(1.0001);
      transition: transform 0.3s;
    }
  }
  // .cards-men__body
  &__body {
    flex-grow: 1;
    display: flex;
    gap: 15px;
  }
  // .cards-men__content
  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  // .cards-men__title
  &__title {
    color: rgb(42, 47, 47);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.04em;
    flex-grow: 1;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.3s;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
  // .cards-men__text
  &__text {
    color: rgb(127, 127, 127);
    font-size: 13px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -0.04em;
    text-transform: capitalize;
  }
  // .cards-men__arrow
  &__arrow {
    flex: 0 0 18px;
    width: 18px;
    height: 14px;
    // align-self: center;
    margin-top: 7px;
    background: url("../img/icons/icon-arrow.svg") center no-repeat;
    transform: translateX(0);
    transition: transform 0.3s;
  }
}

//--------------------Women------------------

.cards-women {
  @extend .cards-men;
  // .cards-women__link
  &__link {
    @extend .cards-men__link;
  }
  // .cards-women__image
  &__image {
    @extend .cards-men__image;
    img {
      @include img;
      transform: scale(1.0001);
      transition: transform 0.3s;
    }
  }
  // .cards-women__body
  &__body {
    @extend .cards-men__body;
  }
  // .cards-women__content
  &__content {
    @extend .cards-men__content;
  }
  // .cards-women__title
  &__title {
    @extend .cards-men__title;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }
  // .cards-women__text
  &__text {
    @extend .cards-men__text;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }
  // .cards-women__arrow
  &__arrow {
    @extend .cards-men__arrow;
  }
}

//-------------------Brands--------------------

.brands {
  // .brands__box
  &__box {
    border: 1px solid rgb(50, 50, 50);
    border-radius: 12px;
    background: $textColor;
    padding-top: 30px;
    padding-bottom: 40px;
    @media (min-width: $mobile) {
      padding-top: 44px;
      padding-bottom: 60px;
    }
  }
  // .brands__wrapper-title
  &__wrapper-title {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    &:not(:last-child) {
      margin-bottom: 40px;
      @media (min-width: $mobile) {
        margin-bottom: 67px;
      }
    }
  }
  // .brands__title
  &__title {
    font-family: "Coresansc", sans-serif;
    font-size: 32px;
    font-weight: 800;
    @media (min-width: 590px) {
      font-size: 44px;
    }
    @media (min-width: $mobile) {
      font-size: 50px;
    }
    &:not(:last-child) {
      margin-bottom: 26px;
    }
  }
  // .brands__subtitle
  &__subtitle {
    font-size: 18px;
    line-height: 1.18;
    @media (min-width: 590px) {
      font-size: 22px;
    }
    span {
      color: rgb(251, 209, 3);
    }
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  // .brands__list
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    @media (min-width: $mobile) {
      gap: 25px;
    }
  }
  // .brands__item
  &__item {
    flex: 0 1 90%;
    width: 150px;
    height: 73px;
    border-radius: 12px;
    background-color: $mainColor;
    padding: 10px 12px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (min-width: 360px) {
      flex: 0 1 150px;
    }
    @media (min-width: $mobile) {
      flex: 0 1 177px;
      width: 177px;
      height: 85px;
    }
    @media (any-hover: hover) {
      &:hover img {
        transform: scale(1.1);
      }
    }
    img {
      max-width: 100%;
      height: 100%;
      object-fit: contain;
      transform: scale(1.0001);
      transition: transform 0.3s;
    }
  }
}

// ----------------------Limelight-----------------

.cards-limelight {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  column-gap: 20px;
  row-gap: 40px;
  @media (min-width: 900px) {
    column-gap: 26px;
  }
  @media (min-width: $pc) {
    column-gap: 36px;
  }
  // .cards-limelight__item
  &__item {
    position: relative;
  }
  // .cards-limelight__image
  &__image {
    display: block;
    overflow: hidden;
    border-radius: 12px;
    aspect-ratio: 282/370;
    background-color: rgba(0, 0, 0, 0.3);
    @media (any-hover: hover) {
      &:hover img {
        transform: scale(1.05);
      }
    }
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    img {
      @include img($oPosition: null);
      transform: scale(1.0001);
      transition: transform 0.3s;
    }
  }
  // .cards-limelight__button
  &__button {
    position: absolute;
    top: 6%;
    right: 7%;
    width: 32px;
    height: 32px;
    border-radius: 50px;
    background: $mainColor url("../img/limelight/favorite.svg") center / 14px
      no-repeat;
    transition: background-color 0.3s;
    @media (any-hover: hover) {
      &:hover {
        background-color: rgb(197, 170, 233);
      }
    }
  }
  // .cards-limelight__body
  &__body {
    display: flex;
    column-gap: 10px;
    line-height: 1.2;
  }
  // .cards-limelight__content
  &__content {
    flex-grow: 1;
  }
  // .cards-limelight__title
  &__title {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
  // .cards-limelight__link-title
  &__link-title {
    color: $textColor;
    font-weight: 600;

    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    display: -webkit-box;
    -webkit-line-clamp: 1; // max nb lines to show
    -webkit-box-orient: vertical;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.3s ease-in-out;
    @media (any-hover: hover) {
      &:hover {
        text-decoration-color: inherit;
      }
    }
  }
  // .cards-limelight__text
  &__text {
    color: $textLightColor;
    font-size: 14px;
    font-weight: 500;
  }
  // .cards-limelight__price
  &__price {
    border-radius: 8px;
    background: $secondaryColor;
    color: $textColor;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding: 10px 16px;
    align-self: center;
  }
}

//-------------------Feedback------------------

.feedback {
  // .feedback__cards
  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    column-gap: 15px;
    row-gap: 30px;
    @media (min-width: $pc) {
      column-gap: 23px;
    }
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.item-feedback {
  border: 2px solid rgb(190, 188, 189);
  border-radius: 10px;
  background: $mainColor;
  padding: 15px;
  @media (min-width: $smallMobile) {
    padding: 22px;
  }
  > *:not(:last-child) {
    margin-bottom: 20px;
  }
  // .item-feedback__top
  &__top {
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
  }
  // .item-feedback__image
  &__image {
    flex: 0 0 58px;
    width: 58px;
    aspect-ratio: 1/1;
    background-color: rgba(151, 151, 90, 0.366);
    img {
      @include img($oFit: contain, $oPosition: null);
    }
  }
  // .item-feedback__raiting
  &__raiting {
    img {
      @include img(20px, 20px, null, null);
    }
  }
  // .item-feedback__title
  &__title {
    font-family: "Coresansc", sans-serif;
    color: $textColor;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
  // .item-feedback__text
  &__text {
    color: $textLightColor;
    font-size: 14px;
    line-height: 1.27;
    letter-spacing: 0.02em;
  }
}

.items-indicators {
  display: flex;
  justify-content: center;
  column-gap: 4px;
  // .items-indicators__circle
  &__circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(190, 188, 189, 0.3);
    // .items-indicators__circle--fill
    &.items-indicators__circle--fill {
      background-color: $textColor;
    }
  }
}

// ------------------Footer---------------------

.footer {
  background: $textColor;
  padding-top: 30px;
  padding-bottom: 30px;
  @media (min-width: $tablet) {
    padding-top: 59px;
    padding-bottom: 59px;
  }
  // .footer__container
  &__container {
    > :not(:last-child) {
      border-bottom: 1px solid rgb(190, 188, 189, 0.4);
    }
  }
  // .footer__top-part
  &__top-part {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
    @media (min-width: $mobile) {
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 40px;
    }
    @media (min-width: $pc) {
      padding-left: 85px;
      padding-right: 85px;
      padding-bottom: 50px;
    }
  }
  //.footer__info
  &__info {
    &:not(:last-child) {
      margin-bottom: 30px;
      @media (min-width: 574px) {
        margin-bottom: 0;
      }
    }
  }
  // .footer__connection
  &__connection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    @media (min-width: 574px) {
      justify-content: space-between;
    }
  }
  // .footer__middle-part
  &__middle-part {
    padding: 20px 20px 20px 35px;
    @media (min-width: $tablet) {
      padding: 25px 40px 25px 85px;
    }
  }
  // .footer__bottom-part
  &__bottom-part {
    padding-top: 20px;
    @media (min-width: $mobile) {
      padding-top: 38px;
    }
  }
}

.info-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  @media (min-width: 436px) {
    flex-direction: row;
    justify-content: space-around;
  }

  @media (min-width: 985px) {
    justify-content: space-between;
  }

  // .info-footer__title
  &__title {
    color: $secondaryColor;
    font-size: 22px;
    font-weight: 700;
    line-height: 2.17;
    text-align: center;
    .info-footer__item.info-footer__item--address & {
      text-align: center;
      @media (min-width: 985px) {
        text-align: left;
      }
    }
    @media (min-width: 436px) {
      text-align: left;
    }
    @media (min-width: 520px) {
      font-size: 28px;
    }
    @media (min-width: 984px) {
      text-align: left;
    }
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  //.info-footer__address{
  &__address {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 985px) {
      align-items: flex-start;
    }
  }
  //.info-footer__link-address
  &__link-address {
    @extend .list-info__link;

    .info-footer__address & {
      font-size: 13px;
      @media (min-width: $smallMobile) {
        font-size: 16px;
      }
      @media (min-width: 520px) {
        font-size: 18px;
      }
    }
    &:not(:last-child) {
      margin-bottom: 7px;
    }
    p {
      text-align: center;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      @media (min-width: 985px) {
        text-align: left;
      }
    }
    @media (any-hover: hover) {
      &:hover::after {
        width: 100%;
        left: 0;
      }
    }
  }
}

.list-info {
  text-align: center;
  @media (min-width: 436px) {
    text-align: left;
  }
  // .list-info__item
  &__item {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
    @media (any-hover: hover) {
      &:hover .list-info__link::after {
        width: 100%;
        left: 0;
      }
    }
  }
  // .list-info__link
  &__link {
    display: inline-block;
    color: $secondaryColor;
    font-weight: 500;
    line-height: 1.9;
    @media (min-width: 520px) {
      font-size: 18px;
    }
    &::after {
      content: "";
      position: relative;
      left: 50%;
      display: block;
      width: 0;
      height: 1px;
      background-color: $secondaryColor;
      transition: all 0.3s;
    }
  }
}

.links-social {
  align-self: flex-end;
  padding-left: 7px;
  // .links-social__list
  &__list {
    display: flex;
    gap: 10px;
  }

  // .links-social__link-item
  &__link-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 10px;
    padding: 5px;
    background-color: $secondaryColor;
    transition: box-shadow 0.3s;
    @media (any-hover: hover) {
      &:hover {
        box-shadow: rgba(61, 181, 217, 0.492) 0px 8px 15px;
      }
    }
    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }
}

.app-block {
  flex: 0 0 100%;
  @media (min-width: 400px) {
    flex: 0 0 330px;
  }
  // .app-block__title
  &__title {
    color: $secondaryColor;
    font-size: 24px;
    font-weight: 700;
    line-height: 2.17;
    text-align: center;
    @media (min-width: 574px) {
      text-align: left;
    }
    @media (min-width: $mobile) {
      font-size: 28px;
    }
    &:not(:last-child) {
      margin-bottom: 5px;
      @media (min-width: $mobile) {
        margin-bottom: 19px;
      }
    }
  }
  // .app-block__list
  &__list {
    display: flex;
    column-gap: 5px;
    justify-content: space-between;
    @media (min-width: 400px) {
      column-gap: 31px;
    }
  }
  // .app-block__item
  &__item {
    padding: 3px 5px;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: border 0.3s;
    @media (min-width: 400px) {
      padding: 7px 9px;
    }
    @media (any-hover: hover) {
      &:hover {
        border: 1px solid $backgroundColorButton;
      }
    }
  }
  // .app-block__link
  &__link {
    display: flex;
    column-gap: 10px;
    font-size: 10px;
    line-height: 1.2;
    &::before {
      content: "";
      flex: 0 0 30px;
      width: 30px;
      height: 35px;
    }
    &.app-block__link--google-play {
      &::before {
        background: url("../img/icons/icon-google-play.svg") left/30px 33px
          no-repeat;
      }
    }
    &.app-block__link--app-store {
      &::before {
        background: url("../img/icons/icon-app-store.svg") left/ 20px 32px
          no-repeat;
      }
    }
  }
  //app-block__text
  &__text {
    text-align: center;
    & p:not(:last-child) {
      margin-bottom: 1px;
    }
    & > :last-child {
      font-size: 18px;
    }
  }
}

.spoiler-footer {
  // .spoiler-footer__item
  &__item {
    color: $secondaryColor;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    @media (min-width: $mobile) {
      font-size: 28px;
    }
    &::after {
      content: "";
      flex: 0 0 20px;
      width: 20px;
      height: 20px;
      background: url("../img/icons/icon-arrow-down.svg") center/18px 9px
        no-repeat;
      transition: transform 0.3s;
      .spoiler-footer[open] & {
        transform: rotate(-180deg);
      }
    }
  }
  // .spoiler-footer__list
  &__list {
    padding-top: 15px;
  }
  // .spoiler-footer__item-list
  &__item-list {
    @extend .list-info__item;
  }
  // .spoiler-footer__link
  &__link {
    @extend .list-info__link;
  }
}

.copyright-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  @media (min-width: $mobile) {
    font-size: 18px;
  }
}
